<script src="{$basePath}/nette.livevalidation.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" type="text/css" rel="stylesheet">

<div class="container">
<div class="row">
<div class="col col-md-8">

<h1>Registrace</h1>
{control registrationForm}


</div>
</div>
</div>
